@{
    ViewData["Title"] = "Privacy Policy";
}
<main>
    <article>
        <section class="upcoming">
            <div class="container">
            <p>Use this page to detail your site's privacy policy.</p>
          </div>
        </section>
    </article>
</main>
            
