<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
   
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="~/favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    
    
    -->
    <!--
      - google font link
    -->
    

    <link rel="stylesheet" href="~/css/BoostrapTheme.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="overlay" data-overlay></div>

                <a href="./index.html" class="logo">
                    <img src="./assets/images/logo.svg" alt="Filmlane logo">
                </a>

                <div class="header-actions">

                    <button class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>

                    <div class="lang-wrapper">
                        <label for="language">
                            <ion-icon name="globe-outline"></ion-icon>
                        </label>

                        <select name="language" id="language">
                            <option value="en">EN</option>
                            <option value="au">AU</option>
                            <option value="ar">AR</option>
                            <option value="tu">TU</option>
                        </select>
                    </div>

                    <partial name="_LoginPartial" />

                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarColor01">
                    <ul class="navbar-nav me-auto navbar-list mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" >
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li >
                            <a class="nav-link active" href="#">Features</a>
                        </li>
                        <li >
                            <a class="nav-link active" href="#">Pricing</a>
                        </li>
                        <li >
                            <a class="nav-link active" href="#">About</a>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="divider"></div>

    <footer class="footer footer-bottom">

            <div class="container">

                <p class="copyright">
                    &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
                </p>

                <img src="~/assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-bottom-img">

            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="~/assets/js/script.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!---->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
