@using Model.Constants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="~/favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    
    
    -->
    <!--
      - google font link
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    -->
    <link rel="stylesheet" href="~/css/BoostrapTheme.css" />
    <link rel="stylesheet" href="~/css/site.css">

    

 

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="overlay" data-overlay></div>

                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/assets/images/logo.svg" alt="Filmlane logo">
                </a>

                <div class="header-actions">

                    <form asp-controller="Home" asp-action="ListAllMovie" method="get" class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <label class="visually-hidden" for="SearchString">Tìm kiếm phim</label>
                            <div class="input-group">
                                <div class="input-group-text"></div>
                                <input type="text" class="form-control" value="" id="SearchString" name="SearchString" placeholder="Tìm kiếm phim">
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary"><ion-icon name="search-outline"></ion-icon></button>
                        </div>
                    </form>

                    <div class="lang-wrapper">
                        @if (User.IsInRole(Roles.Admin))
                        {
                            <a class="nav-link text-bg-primary" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="bi bi-file-bar-graph-fill"></i>&nbsp;Admin</a>
                        }
                    </div>

                    <partial name="_LoginPartial" />

                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarColor01">
                    <ul class="navbar-nav me-auto navbar-list mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                Trang chủ
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li >
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="SingleMovie">Phim lẻ</a>
                        </li>
                        <li >
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="SeriesMovie" >Phim bộ</a>
                        </li>
                        <li class="nav-item dropdown " aria-haspopup="true" >
                            <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown">
                                Quốc gia
                            </a>
                            <ul class="dropdown-menu " aria-haspopup="true" aria-expanded="false">
                                <li>
                                    <a class="dropdown-item show" asp-area="Librarian" asp-controller="Book" asp-action="Index">Sách</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item show" asp-area="Librarian" asp-controller="Publisher" asp-action="Index">Nhà xuất bản</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item show" asp-area="Librarian" asp-controller="Author" asp-action="Index">Tác giả</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item show" asp-area="Librarian" asp-controller="Category" asp-action="Index">Thể loại</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item show" asp-area="Librarian" asp-controller="Order" asp-action="Index">Đơn hàng</a>

                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
        </nav>
    </header>
    

        <main role="main" class="pb-3">
            <article>
            @RenderBody()
            </article>
        </main>

    

    <footer class="footer footer-bottom">
        <div class="divider"></div>
        <div class="container">
                <p class="copyright">
                &copy; 2024 <a  asp-controller="Home" asp-action="Privacy">Movie</a>. All Rights Reserved
                </p>

                <img src="~/assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-bottom-img">
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!---->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
